#log {
	font-family: "方正胖娃简体", "方正康体简体", "方正黄草简体", "方正琥珀简体", "方正彩云简体", "方正瘦金书简体", "方正稚艺简体", "微软雅黑", "隶书";
	font-size: 14px;
	height: auto;
	width: auto;
	margin-top: 300px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 300px;
	float: left;
}
